<!--<nav class="sidebar">-->
<!--  <ul>-->
<!--    <li><img src="/Home.svg" alt="Dashboard" /></li>-->
<!--    <li><img src="/Profile.svg" alt="Users" /></li>-->
<!--    <li><img src="/Settings.svg" alt="Settings" /></li>-->
<!--  </ul>-->
<!--</nav>-->


<nav class="sidebar">
  <!-- Top Logo -->


  <!-- Navigation Icons -->
  <ul class="nav-icons">
    <div class="logo">
      <img src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg" alt="Logo" />
    </div>
    <li><img src="/Home.svg" alt="Home" /></li>
    <li class="active"><img src="/Interaction.svg" alt="Dashboard" /></li>
    <li><img src="/hid.svg" alt="Layers" /></li>
    <li><img src="/Files.svg" alt="Files" /></li>
    <li><img src="/Report.svg" alt="Reports" /></li>
    <li><img src="/Profile.svg" alt="Users" /></li>
  </ul>

  <!-- Bottom Icons -->
  <ul class="bottom-icons">
    <li><img src="/controll.svg" alt="Control" /></li>
    <li><img src="/Settings.svg" alt="Settings" /></li>
    <li class="avatar">
      <img src="https://png.pngtree.com/png-clipart/20240318/original/pngtree-man-character-with-mustache-vector-illustration-png-image_14620617.png" alt="User Avatar" />
      <span class="badge"><img src="/Logout.svg" alt="Logout" /></span>
    </li>
  </ul>
</nav>
